{{define "application"}}
  <!DOCTYPE html>
  <html>
    <head>
      <title>My App</title>
      <link href="{{stylesheetPath "application"}}" rel="stylesheet">
      <script src="{{javascriptPath "application"}}"></script>

      {{block "stylesheet" .}}
      {{end}}

      {{block "javascript" .}}
      {{end}}
    </head>
    <body>
      <h1>Application pages layout</h1>
      {{block "content" .}}
      {{end}}
    </body>
  </html>
{{end}}
